<section ng-controller="CategoriesCtrl">
    <section class="content">
        <h4>This tab shows the Categories.</h4>
        <p>Here you can see and manipulate all informations about a category. You can create, edit and delete it.</p>

        <div class="buttons">
            <button class="main" ng-click="openCreateCategoryModal=true">Create new category</button>
        </div>

        <div class="filter">
            <label>
                <input type="text" 
                    placeholder="Filter by categories features (Press Enter to search, if empty returns all list again)" 
                    ng-model="params.value" 
                    ng-keyup="$event.keyCode == 13 && getCategories()"
                >
            </label>
            <div class="buttons">
                <button class="main" ng-click="openCategoryAdvanceFilter=true">Advanced Filter</button>
            </div>
        </div>

        <div class="modal" ng-show="openCreateCategoryModal">
            <div class="overlay" ng-click="openCreateCategoryModal=false"></div>
            <div class="content">
                {% include 'modals/__createCategory.html' %}
            </div>
        </div>

        <div class="modal" ng-show="openEditCategoryModal">
            <div class="overlay" ng-click="openEditCategoryModal=false"></div>
            <div class="content">
                {% include 'modals/__editCategory.html' %}
            </div>
        </div>
        <div class="modal" ng-show="openCategoryAdvanceFilter">
            <div class="overlay" ng-click="openCategoryAdvanceFilter=false"></div>
            <div class="content">
                {% include 'modals/__categoryAf.html' %}
            </div>
        </div>

        <table class="box">
            <thead>
                <tr>
                    <th>View products</th>
                    <th>Category Name</th>
                    <th>Category Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="category in categories">
                    <td class="arrow" ng-click="viewProducts=!viewProducts"><span>&#10148;</span></td>
                    <td>{[ category.category_name ]}</td>
                    <td>{[ category.category_description ]}</td>
                    <td style="cursor: pointer" ng-click="editCategoryModal(category)"><img src="static/img/edit.png" alt="Edit Category" width="22"/></td>
                    <td style="cursor: pointer" ng-click="deleteCategory(category.id)"><img src="static/img/delete.png" alt="Delete Category" width="22"></td>
                </tr>
                <tr ng-show="viewProducts" ng-repeat="product in category.products">
                    <td>{[ product.product_name ]}</td>
                </tr>
                <tr ng-repeat-end=""></tr>
            </tbody>
        </table>
    </section>
</section>