<section ng-controller="MarketPlacesCtrl">
    <section class="content">
        <h4>This tab shows the MarketPlaces.</h4>
        <p>Below you can see and manipulate all informations about a MarketPlace (MP). You can create, edit and delete it.</p>

        <div class="buttons">
            <button class="main" ng-click="openCreateMPModal=true">Create new MarketPlace</button>
        </div>

        <div class="filter">
            <label>
                <input type="text" 
                    placeholder="Filter by MPs features (Press Enter to search, if empty returns all list again)" 
                    ng-model="params.value" 
                    ng-keyup="$event.keyCode == 13 && getMPs()"
                >
            </label>
            <div class="buttons">
                <button class="main" ng-click="openMPAdvanceFilter=true">Advanced Filter</button>
            </div>
        </div>

        <div class="modal" ng-show="openCreateMPModal">
            <div class="overlay" ng-click="openCreateMPModal=false"></div>
            <div class="content">
                {% include 'modals/__createMarketPlace.html' %}
            </div>
        </div>
        <div class="modal" ng-show="openEditMPModal">
            <div class="overlay" ng-click="openEditMPModal=false"></div>
            <div class="content">
                {% include 'modals/__editMarketPlace.html' %}
            </div>
        </div>
        <div class="modal" ng-show="openMPAdvanceFilter">
            <div class="overlay" ng-click="openMPAdvanceFilter=false"></div>
            <div class="content">
                {% include 'modals/__marketPlaceAf.html' %}
            </div>
        </div>

        <table class="box">
            <thead>
                <tr>
                    <th>MP Name</th>
                    <th>MP Description</th>
                    <th>Site</th>
                    <th>MP Contact Email</th>
                    <th>MP Phone Number</th>
                    <th>Technical Contact</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mp in marketplaces">
                    <td>{[ mp.market_place_name ]}</td>
                    <td>{[ mp.market_place_description ]}</td>
                    <td>{[ mp.site ]}</td>
                    <td>{[ mp.contact_email ]}</td>
                    <td>{[ mp.phone_number ]}</td>
                    <td>{[ mp.technical_contact ]}</td>
                    <td style="cursor: pointer" ng-click="editMPModal(mp)"><img src="static/img/edit.png" alt="Edit MarketPlace" width="22"/></td>
                    <td style="cursor: pointer" ng-click="deleteMP(mp.id)"><img src="static/img/delete.png" alt="Delete MarketPlace" width="22"></td>
                </tr>
            </tbody>
        </table>
    </section>
</section>