<section ng-controller="MarketPlacesCtrl">
    <section class="content">
        <h4>This tab shows the market places.</h4>
        <p>Here you can manipulate all informations about a market place. You can create, edit and delete it.</p>

        <div class="buttons">
            <button class="main" ng-click="openCreateAthleteModal=true">Create new market place</button>
            <button class="main" ng-click="openCreateInfosModal=true">Edit market place</button>
        </div>

        <div class="filter">
            <label>
                <input type="text" 
                    placeholder="Filter by athlete name (Press Enter to search, if empty returns all list again)" 
                    ng-model="params.athlete_name" 
                    ng-keyup="$event.keyCode == 13 && getAthletes()"
                >
            </label>
        </div>

        <div class="modal" ng-show="openCreateAthleteModal">
            <div class="overlay" ng-click="openCreateAthleteModal=false"></div>
            <div class="content">
                {% include 'modals/__createMarketPlace.html' %}
            </div>
        </div>

        <div class="modal" ng-show="openEditAthleteModal">
            <div class="overlay" ng-click="openEditAthleteModal=false"></div>
            <div class="content">
                {% include 'modals/__editMarketPlace.html' %}
            </div>
        </div>

        <div class="box">

            {% include 'modals/__headers.html' %}

            <table>
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="">
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</section>