<section ng-controller="ProductsCtrl">
    <section class="content">
        <h4>This tab shows the products.</h4>
        <p>Here you can see and manipulate all informations about a product. You can create, edit and delete it. </p>

        <div class="buttons">
            <button class="main" ng-click="openCreateProduct()">Create new product</button>
        </div>
        <div class="filter">
            <label>
                <input type="text" 
                    placeholder="Filter by product features (Press Enter to search, if empty returns all list again)" 
                    ng-model="params.value" 
                    ng-keyup="$event.keyCode == 13 && getProducts()"
                >
            </label>
            <div class="buttons">
                <button class="main" ng-click="openProductAdvanceFilter=true">Advanced Filter</button>
            </div>
        </div>

        <div class="modal" ng-show="openCreateProductModal">
            <div class="overlay" ng-click="openCreateProductModal=false"></div>
            <div class="content">
                {% include 'modals/__createProduct.html' %}
            </div>
        </div>

        <div class="modal" ng-show="openEditProductModal">
            <div class="overlay" ng-click="openEditProductModal=false"></div>
            <div class="content">
                {% include 'modals/__editProduct.html' %}
            </div>
        </div>

        <div class="modal" ng-show="openProductAdvanceFilter">
            <div class="overlay" ng-click="openProductAdvanceFilter=false"></div>
            <div class="content">
                {% include 'modals/__productAf.html' %}
            </div>
        </div>

        <table class="box">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th>Value</th>
                    <th>Product Categories</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products">
                    <td>{[ product.product_name ]}</td>
                    <td>{[ product.product_description ]}</td>
                    <td>{[ product.product_value ]}</td>
                    <td><span ng-repeat="category in product.categories">{[ category.category_name ]}; </span></td>
                    <td style="cursor: pointer" ng-click="editProductModal(product)"><img src="static/img/edit.png" alt="Edit product" width="22"/></td>
                    <td style="cursor: pointer" ng-click="deleteProduct(product.id)"><img src="static/img/delete.png" alt="Delete product" width="22"></td>
                </tr>
            </tbody>
        </table>
    </section>
</setion>
