<section ng-controller="SellersCtrl">
    <section class="content">
        <h4>This tab shows the sellers.</h4>
        <p>Here you can manipulate all informations about a seller. You can create, edit and delete it.</p>

        <div class="buttons">
            <button class="main" ng-click="openCreateAthleteModal=true">Create new seller</button>
            <button class="main" ng-click="openCreateInfosModal=true">Edit seller</button>
        </div>

        <div class="filter">
            <label>
                <input type="text" 
                    placeholder="Filter by athlete name (Press Enter to search, if empty returns all list again)" 
                    ng-model="params.athlete_name" 
                    ng-keyup="$event.keyCode == 13 && getAthletes()"
                >
            </label>
        </div>

        <div class="modal" ng-show="openCreateAthleteModal">
            <div class="overlay" ng-click="openCreateAthleteModal=false"></div>
            <div class="content">
                {% include 'modals/__createSeller.html' %}
            </div>
        </div>
        <div class="modal" ng-show="openCreateAthleteModal">
            <div class="overlay" ng-click="openCreateAthleteModal=false"></div>
            <div class="content">
                {% include 'modals/__editSeller.html' %}
            </div>
        </div>

        <div class="box">

            {% include 'modals/__headers.html' %}

            <table>
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="">
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>
</section>