<section ng-controller="SellersCtrl">
    <section class="content">
        <h4>This tab shows the sellers.</h4>
        <p>Below you can see and manipulate all informations about a seller. You can create, edit and delete it.</p>

        <div class="buttons">
            <button class="main" ng-click="openCreateSellerModal=true">Create new seller</button>
        </div>

        <div class="filter">
            <label>
                <input type="text" 
                    placeholder="Filter by sellers features (Press Enter to search, if empty returns all list again)" 
                    ng-model="params.value" 
                    ng-keyup="$event.keyCode == 13 && getSellers()"
                >
            </label>
            <div class="buttons">
                <button class="main" ng-click="openSellerAdvanceFilter=true">Advanced Filter</button>
            </div>
        </div>

        <div class="modal" ng-show="openCreateSellerModal">
            <div class="overlay" ng-click="openCreateSellerModal=false"></div>
            <div class="content">
                {% include 'modals/__createSeller.html' %}
            </div>
        </div>
        <div class="modal" ng-show="openEditSellerModal">
            <div class="overlay" ng-click="openEditSellerModal=false"></div>
            <div class="content">
                {% include 'modals/__editSeller.html' %}
            </div>
        </div>
        <div class="modal" ng-show="openSellerAdvanceFilter">
            <div class="overlay" ng-click="openSellerAdvanceFilter=false"></div>
            <div class="content">
                {% include 'modals/__sellerAf.html' %}
            </div>
        </div>

        <table class="box">
            <thead>
                <tr>
                    <th>Nick Name</th>
                    <th>Corporate Name</th>
                    <th>CNPJ</th>
                    <th>Contact Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="seller in sellers">
                    <td>{[ seller.nick_name ]}</td>
                    <td>{[ seller.corporate_name ]}</td>
                    <td>{[ seller.seller_cnpj ]}</td>
                    <td>{[ seller.contact_email ]}</td>
                    <td>{[ seller.phone_number ]}</td>
                    <td>{[ seller.address ]}</td>
                    <td style="cursor: pointer" ng-click="editSellerModal(seller)"><img src="static/img/edit.png" alt="Edit seller" width="22"/></td>
                    <td style="cursor: pointer" ng-click="deleteSeller(seller.id)"><img src="static/img/delete.png" alt="Delete seller" width="22"></td>
                </tr>
            </tbody>
        </table>
    </section>
</section>