<h4>Create Product Modal</h4>
<form id="createProduct">
    <label>
        <span>Name: </span>
        <input name="event_name" ng-model="createProduct.name" type="text" placeholder="Product name">
    </label>
    <label>
        <span>Description: </span>
        <textarea name="city" ng-model="createProduct.description" placeholder="Product description"></textarea>
    </label>
    <label>
        <span>Value: </span>
        <input ng-model="createProduct.value" type="number" placeholder="Product value">
    </label>
    <label>
        <span>Categories: </span>
        <input name="categories" ng-model="createProduct.categories" type="number" placeholder="Year of this event">
    </label>
    <label>
        <span>Categories: </span>
        <select ng-model="createProduct.categories">
            <option ng-repeat="category in categories">{[ category ]}</option>
        </select>
    </label>

    <div class="buttons">
        <button class="main" ng-click="createProduct()">Create</button>
        <button class="cancel" ng-click="openCreateProductModal=false">Cancel</button>
    </div>
</form>