<h4>Create Category Modal</h4>
<form id="createCategory">
    <label>
        <span>Category Name: </span>
        <input ng-model="createCategory.category_name" type="text" placeholder="Category name" maxlength="100">
    </label>
    <label>
        <span>Category Description: </span>
        <textarea ng-model="createCategory.category_description" type="text" placeholder="Category description (max: 255 characters)" maxlength="255"></texarea>
    </label>

    <div class="buttons">
        <button class="main" ng-click="createNewCategory()">Create</button>
        <button class="cancel" ng-click="openCreateCategoryModal=false">Cancel</button>
    </div>
</form>