<h4>Create Product Modal</h4>
<form id="createProduct">
    <label>
        <span>Name: </span>
        <input name="event_name" ng-model="createProduct.product_name" type="text" placeholder="Product name">
    </label>
    <label>
        <span>Description: </span>
        <textarea name="city" ng-model="createProduct.product_description" placeholder="Product description"></textarea>
    </label>
    <label>
        <span>Value: </span>
        <input ng-model="createProduct.product_value" type="number" step="0.01" placeholder="Product value">
    </label>
    <label>
        <span>Product Categories: </span>
        <table class="tiny-table">
            <tr ng-repeat="productCategory in productCategories">
                <td>{[ productCategory.category_name ]}</td>
                <td style="cursor: pointer" ng-click="removeProductCategory(productCategory)"><img src="static/img/delete.png" width="12"></td>
            </tr>
        </table>
    </label>
    <label>
        <span>Select Categories: </span>
        <select ng-model="selectedCategory" 
                ng-options="category.id as category.category_name for category in categories | orderBy:'category_name'"
                ng-change="insertProductCategory(selectedCategory.id)"
        >
            <option value="">Selecione um usuário</option>
        </select>
    </label>

    <div class="buttons">
        <button class="main" ng-click="createNewProduct()">Create</button>
        <button class="cancel" ng-click="openCreateProductModal=false">Cancel</button>
    </div>
</form>