<h4>Create Category Modal</h4>
<form id="createCategory">
    <label>
        <span>Category Name: </span>
        <input ng-model="createCategory.category_name" type="text" placeholder="Category name">
    </label>
    <label>
        <span>Category Description: </span>
        <input ng-model="createCategory.category_description" type="text" placeholder="Category escription">
    </label>

    <div class="buttons">
        <button class="main" ng-click="createNewCategory()">Create</button>
        <button class="cancel" ng-click="openCreateCategoryModal=false">Cancel</button>
    </div>
</form>