<h4>Create MarketPlace Modal</h4>
<form id="createMP">
    <label>
        <span>MP Name: </span>
        <input ng-model="createMP.market_place_name" type="text" placeholder="MP name" required>
    </label>

    <label>
        <span>MP Description: </span>
        <textarea ng-model="createMP.market_place_description" type="text" placeholder="MP Description" required></textarea>
    </label>

    <label>
        <span>MP Site: </span>
        <input ng-model="createMP.site" type="text" placeholder="MP Site" required>
    </label>

    <label>
        <span>Contact Email: </span>
        <input ng-model="createMP.contact_email" type="text" placeholder="MP contact email" required>
    </label>

    <label>
        <span>Phone Number: </span>
        <input ng-model="createMP.phone_number" type="number" placeholder="MP phone number (only numbers)" required>
    </label>

    <label>
        <span>MP technical contact: </span>
        <input ng-model="createMP.technical_contact" type="text" placeholder="MP technical contact" required>
    </label>

    <div class="buttons">
        <button class="main" ng-click="createNewMP()">Create</button>
        <button class="cancel" ng-click="openCreateMPModal=false">Cancel</button>
    </div>
</form>