<h4>Edit Seller Modal</h4>
<form id="editSeller">
    <label>
        <span>Nick Name (Fantasy name): </span>
        <input ng-model="editSeller.nick_name" type="text" placeholder="Seller fantasy name" required>
    </label>

    <label>
        <span>Corporate Name: </span>
        <input ng-model="editSeller.corporate_name" type="text" placeholder="Seller corporate name" required>
    </label>

    <label>
        <span>Seller CNPJ: </span>
        <input ng-model="editSeller.seller_cnpj" type="number" placeholder="Seller CNPJ (only numbers)" required>
    </label>

    <label>
        <span>Contact Email: </span>
        <input ng-model="editSeller.contact_email" type="text" placeholder="Seller contact email" required>
    </label>

    <label>
        <span>Phone Number: </span>
        <input ng-model="editSeller.phone_number" type="number" placeholder="Seller phone number" required>
    </label>

    <label>
        <span>Seller Address: </span>
        <input ng-model="editSeller.address" type="text" placeholder="Seller address" required>
    </label>

    <div class="buttons">
        <button class="main" ng-click="updateSeller()">Update</button>
        <button class="cancel" ng-click="openEditSellerModal=false">Cancel</button>
    </div>
</form>