<h4>Edit Market Place Modal</h4>
<form id="editMP">
    <label>
        <span>MP Name: </span>
        <input ng-model="editMP.market_place_name" type="text" placeholder="MarketPlace name" maxlength="100" required>
    </label>

    <label>
        <span>MP Description: </span>
        <textarea ng-model="editMP.market_place_description" type="text" placeholder="MarketPlace Description (max: 255 characters)" maxlength="255" required></textarea>
    </label>

    <label>
        <span>MP Site: </span>
        <input ng-model="editMP.site" type="text" placeholder="MarketPlace Site (https://olist.com/)" maxlength="255" required>
    </label>

    <label>
        <span>Contact Email: </span>
        <input ng-model="editMP.contact_email" type="text" placeholder="MarketPlace contact email (example@olist.com)" maxlength="100" required>
    </label>

    <label>
        <span>Phone Number: </span>
        <input ng-model="editMP.phone_number" type="number" placeholder="MarketPlace phone number (only numbers. Ex: 41999996666)" maxlength="13" required>
    </label>

    <label>
        <span>MP technical contact: </span>
        <input ng-model="editMP.technical_contact" type="text" placeholder="MarketPlace technical contact (Email, name, or number)" maxlength="255" required>
    </label>

    <div class="buttons">
        <button class="main" ng-click="updateMP()">Update</button>
        <button class="cancel" ng-click="openEditMPModal=false">Cancel</button>
    </div>
</form>