<h4>Advanced filter for Products</h4>
<form id="productAf">
    <label>
        <span>Name: </span>
        <input ng-model="params.product_name" type="text" placeholder="Product name" maxlength="100">
    </label>
    <label>
        <span>Description: </span>
        <textarea ng-model="params.product_description" placeholder="Product description (max: 255 characters)" maxlength="255"></textarea>
    </label>
    <label>
        <span>Value: </span>
        <input ng-model="params.product_value" type="number" step="0.01" placeholder="Product value (The product price, only numbers with or without decimal places with dot, ex: 25.50 or 25)">
    </label>

    <div class="buttons">
        <button class="main" ng-click="getProducts()">Search</button>
        <button class="cancel" ng-click="openCreateProductModal=false">Cancel</button>
    </div>
</form>